.Menubar {
  display: flex; 
  height: 2.5rem; 
  align-items: center;
  gap: 0.25rem; 
  border-radius: 0.375rem; 
  border: 1px solid hsl(var(--border)); 
  background-color: hsl(var(--background));
  padding: 0.25rem; 
}

.MenubarTrigger {
    display: flex; 
    cursor: default; 
    user-select: none; 
    align-items: center; 
    border-radius: 0.375rem; 
    padding-left: 0.75rem; 
    padding-right: 0.75rem;
    padding-top: 0.375rem; 
    padding-bottom: 0.375rem; 
    font-size: 0.875rem; 
    font-weight: 500; 
    outline: none; 
}

.MenubarTrigger:focus {
    background-color: hsl(var(--focus)); 
    color: hsl(var(--accent) / 0.50); 
}

.MenubarTrigger[data-state="open"] {
    background-color: hsl(var(--focus)); 
    color: hsl(var(--accent) / 0.50); 
}

.MenubarSubTrigger {
    display: flex; 
    cursor: default; 
    user-select: none; 
    align-items: center;
    border-radius: 0.375rem; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    padding-top: 0.375rem; 
    padding-bottom: 0.375rem; 
    font-size: 0.875rem; 
    outline: none;
}

.MenubarSubTrigger:focus {
    background-color: hsl(var(--focus)); 
    color: hsl(var(--accent) / 0.50); 
}

.MenubarSubTrigger[data-state="open"] {
   background-color: hsl(var(--focus)); 
    color: hsl(var(--accent) / 0.50);  
}

.element {
    z-index: 50; 
    min-width: 8rem;
    overflow: hidden;
    border-radius: 0.375rem; 
    border: 1px solid hsl(var(--border)); 
    background-color: hsl(var(--background)); 
    padding: 0.25rem; 
    color: hsl(var(--foreground)); 
}

.MenubarSubContent[data-state="open"] {
    animation: animate-in 0.3s forwards; 
}

.MenubarSubContent[data-state="closed"] {
    animation: animate-out 0.3s forwards; 
}

.MenubarSubContent[data-state="closed"] {
    opacity: 0; 
}

.MenubarSubContent[data-side="bottom"] {
  animation: slide-in-from-top 2s forwards; 
}

.MenubarSubContent[data-side="left"] {
    animation: slide-in-from-rigt 2s forwards; 
}

.MenubarSubContent[data-side="right"] {
    animation: slide-in-from-left 2s forwards; 
}

.MenubarSubContent[data-side="top"] {
    animation: slide-in-from-bottom 2s forwards; 
}

.MenubarContent {
    z-index: 50; 
    min-width: 12rem; 
    overflow: hidden; 
    border-radius: 0.375rem; 
    border: 1px solid hsl(var(--border)); 
    background-color: hsl(var(--background)); 
    padding: 0.25rem; 
    color: hsl(var(--foreground)); 
    box-shadow: 0 2px 4px hsl(var(--background) / 0.10);
}

.MenubarContent[data-state="open"] {
    animation: animate-in 0.3s forwards;
}

.MenubarContent[data-state="closed"] {
    opacity: 0;
    transform: scale(0.95);
}

.MenubarContent[data-side="bottom"] {
    transform: translateY(100%);
}

.MenubarContent[data-side="left"] {
    transform: translateX(-100%);
}

.MenubarContent[data-side="right"] {
    transform: translateX(100%);
}

.MenubarContent[data-side="top"] {
    transform: translateY(-100%);
}


.MenubarItem {
    position: relative; 
    display: flex; 
    cursor: default; 
    user-select: none; 
    align-items: center; 
    border-radius: 0.375rem; 
    padding-left: 0.5rem; 
    padding-right: 0.5rem; 
    padding-top: 0.375rem; 
    padding-bottom: 0.375rem; 
    font-size: 0.875rem; 
    outline: none; 
}

.MenubarItem:focus {
    background-color: hsl(var(--focus));
    color: hsl(var(--accent) / 0.50); 
}

.MenubarItem[data-disabled="true"] {
    pointer-events: none; 
    opacity: 0.5;
}

.MenubarCheckboxItem {
    position: relative; 
    display: flex; 
    cursor: default; 
    user-select: none; 
    align-items: center; 
    border-radius: 0.375rem; 
    padding-left: 2rem; 
    padding-right: 0.5rem; 
    padding-top: 0.375rem; 
    padding-bottom: 0.375rem; 
    font-size: 0.875rem; 
    outline: none; 
}

.MenubarCheckboxItem:focus {
    background-color: hsl(var(--focus));
    color: hsl(var(--accent) / 0.50); 
}

.MenubarCheckboxItem[data-disabled="true"] {
    pointer-events: none; 
    opacity: 0.5; 
}

.MenubarCheckboxItem {
  position: absolute;
  left: 0.5rem; 
  display: flex;
  height: 0.875rem; 
  width: 0.875rem; 
  align-items: center; 
  justify-content: center;
}

.MenubarRadioItem {
  position: relative; 
  display: flex; 
  cursor: default; 
  user-select: none; 
  align-items: center; 
  padding-left: 2rem; 
  padding-right: 0.5rem; 
  padding-top: 0.375rem; 
  padding-bottom: 0.375rem; 
  font-size: 0.875rem; 
  outline: none;
  border-radius: 0.375rem; 
}

.MenubarRadioItem:focus {
  background-color: hsl(var(--focus));
  color: hsl(var(--accent) / 0.50); 
}

.MenubarRadioItem[data-disabled="true"] {
  pointer-events: none; 
  opacity: 0.5;
}

.MenubarRadioItemSpan {
  position: absolute; 
  left: 2px; 
  display: flex; 
  height: 3.5rem;
  width: 3.5rem; 
  align-items: center; 
  justify-content: center;
}

.MenubarLabel {
  padding-left: 0.5rem; 
  padding-right: 0.5rem; 
  padding-top: 0.9375rem; 
  padding-bottom: 0.9375rem; 
  font-size: 0.875rem; 
  font-weight: 600; 
}

.MenubarSeparator {
  margin-left: -1px; 
  margin-right: -1px; 
  margin-top: -1px; 
  margin-bottom: -1px; 
  height: 1px; 
  background-color: hsl(var(--muted));
}

.MenubarShortcut {
  margin-left: auto; 
  font-size: 0.75rem; 
  letter-spacing: 0.15em; 
  color: hsl(var(--muted-foreground)); 
}
