.Toggle {
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
  border-radius: 0.375rem; 
  font-size: 0.875rem; 
  font-weight: 500; 
  padding: 0.5rem 1rem; 
  transition: color 0.3s, background-color 0.3s; 
  outline: none; 
  color: hsl(var(--foreground)); 
  background-color: hsl(var(--background));
  border: 1px solid transparent; 
}

.Toggle:hover {
  background-color: hsl(var(--foreground) / 0.10); 
  color: hsl(var(--foreground));
}

.Toggle:focus-visible {
  box-shadow: 0 0 0 2px hsl(var(--ring)), 0 0 0 4px hsl(var(--ring));
}

.Toggle:disabled {
  pointer-events: none; 
  opacity: 0.5; 
}

.Toggle[data-state="on"] {
  text-decoration: underline;
  text-underline-offset: 4px;
  color: hsl(var(--accent-foreground)); 
}

.ToggleDefault {
  background-color: transparent;
}

.ToggleOutline {
  border: 1px solid hsl(var(--border));
  background-color: transparent; 
  transition: background-color 0.3s, color 0.3s; 
  color: inherit; 
}

.ToggleOutline:hover {
    background-color: hsl(var(--accent));
    color: hsl(var(--accent-foreground));
  }

.ToggleDefaultSize {
  height: 2.5rem; 
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.ToggleSmallSize {
  height: 2.25rem; 
  padding-left: 0.625rem; 
  padding-right: 0.625rem; 
}

.ToggleLargeSize {
  height: 2.25rem; 
  padding-left: 0.625rem; 
  padding-right: 0.625rem;
}
