.Slider {
  position: relative; 
  display: flex; 
  width: 100%; 
  touch-action: none; 
  user-select: none;
  align-items: center; 
}

.Slider[data-orientation='vertical'] {
  flex-direction: column;
  width: 20px;
  height: 100px;
}

.SliderTrack {
  position: relative; 
  height: 2px; 
  width: 100%; 
  flex-grow: 1; 
  overflow: hidden; 
  border-radius: 9999px; 
  background-color: hsl(var(--foreground)); 
}

.SliderTrack[data-orientation='vertical'] {
  width: 3px;
}

.SliderRange {
  position: absolute; 
  height: 100%; 
  background-color: hsl(var(--primary)); 
}

.SliderRange[data-orientation='vertical'] {
  width: 100%;
}

.SliderThumb {
  display: block; 
  height: 1.25rem; 
  width: 1.25rem; 
  border-radius: 9999px; 
  border: 2px solid hsl(var(--accent)); 
  background-color: hsl(var(--accent)); 
  outline: none; 
  transition-property: color, background-color, border-color; 
  transition-duration: 0.3s; 
}

.SliderThumb:focus-visible {
  outline: none; 
  box-shadow: 0 0 0 2px hsl(var(--ring)), 0 0 0 4px hsl(var(--ring)); 
}

.SliderThumb:disabled {
  pointer-events: none; 
  opacity: 0.5; 
}


