.CarouselContent {
  display: flex;
}

.CarouselContentVertical {
  margin-top: 1rem;
  flex-direction: column;
}

.CarouselItem {
  min-width: 0;      
  flex-shrink: 0;    
  flex-grow: 0;      
  flex-basis: 100%;
}

.CarouselItemVertical {
  padding-top: 1rem;
}

.CarouselButton {
  position: absolute;  
  height: 2rem;       
  width: 2rem;        
  border-radius: 50%; 
  border: 0.5px solid hsl(var(--border));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--background));
}

.CarouselButtonPreviousHorizontal {
  left: -3rem;         
  top: 50%;             
  transform: translateY(-50%);  
  position: absolute;
}

.CarouselButtonPreviousVertical {
  right: -3rem;         
  top: 50%;             
  transform: translateY(-50%);  
  position: absolute;
}

.CarouselButtonNextHorizontal {
  right: -3rem;         
  top: 50%;             
  transform: translateY(-50%);  
  position: absolute;
}

.CarouselButtonNextVertical {
  bottom: -3rem;        
  left: 50%;            
  transform: translateX(-50%) rotate(90deg);  
  position: absolute; 
}

