@keyframes enter {
  0% {
    opacity: var(--tw-enter-opacity, 1);
  } 
}

@keyframes exit {
  to {
      opacity: var(--tw-exit-opacity, 0);
  }
}

.DialogOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background-color: hsl(var(--background) / 0.60);
}

.DialogOverlay[data-state="open"] {
  animation: enter 1s forwards;
}

.DialogOverlay[data-state="closed"] {
  animation: exit 1s forwards;
}

.DialogContent {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 50;
    display: grid;
    width: 100%; 
    max-width: 32rem;
    transform: translate(-50%, -50%); 
    gap: 1rem; 
    border-radius: var(--radius); 
    background-color: hsl(var(--background)); 
    padding: 1.5rem; 
    box-shadow: -1px -1px 6px hsl(var(--foreground) / 0.80);
}

.DialogContent[data-state="open"] {
  animation: enter 1s forwards;
}

.DialogContent[data-state="closed"] {
  animation: exit 1s forwards;
}

.DialogContentClose {
    position: absolute;
    right: 1rem; 
    top: 1rem; 
    border-radius: 0.125rem;
    opacity: 0.7;
    outline: none;
    transition: opacity 0.3s ease;
    border: none;
    background-color: transparent;
}

.DialogContentClose:hover,
.DialogContentClose:focus {
    opacity: 1; 
}

.DialogContentClose:disabled {
    pointer-events: none; 
}

.DialogContentClose[data-state=open] {
    color: hsl(var(--accent-foreground)); 
    background-color: hsl(var(--accent));
}

.DialogHeader {
  color: hsl(var(--foreground));
  display: flex;
  flex-direction: column;
  gap: 0.375rem; 
  text-align: center; 
}

@media (min-width: 640px) {
  .DialogHeader {
    text-align: left;
  }
}

.DialogFooter {
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

@media (min-width: 640px) {
  .DialogFooter {
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
  }
}

.DialogTitle {
  font-size: 1.125rem;
  font-weight: 600; 
  line-height: 1; 
  letter-spacing: -0.025em;
}

.DialogDescription {
  font-size: 0.875rem; /* Equivalent to text-sm in Tailwind (14px based on default root font size) */
  color: hsl(var(--foreground) / 0.90); 
}